# virtualenvs
.venv
.venv*/

# git / editor
.git
.vscode

# devcontainer (not needed for runtime)
.devcontainer

# local app state
.nicegui
__pycache__
*.pyc

# reports / DB / local data (adjust if you want them in the image)
data/

# OS / tooling
.DS_Store
.pytest_cache
.mypy_cache

